
#app{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  box-sizing:border-box
}


/* ----------------- Body Component */
.app-body {
  width: 70vw;
  margin: 0 auto
} 


/* ----------------- Header Component*/
.app-header{
  text-align: center;
  
}
.app-header p{
  font-family: 'Freckle Face', cursive;
  color: #011f4b;
  background: #b3cde0;
  /* display: inline-block; */
  padding: 2vw 5vw;
  border-radius: 1vw;
  letter-spacing: 0.2vw;
  font-size: 3vw;
  margin: 0 auto
}
 
/* -------------------------------- AppCreateDiagram */

.prev-diagram{
  background: url("https://img.icons8.com/carbon-copy/100/000000/bullish.png");
  margin-right: 7vw;
}

.back-diagram{
  background: url("https://img.icons8.com/carbon-copy/100/000000/bearish.png");
  background: url("https://img.icons8.com/dusk/64/000000/mind-map.png");

  margin-left: 7vw;
}

.prev-diagram, .back-diagram{
  display: inline-block;
  width: 2vw;
  height: 2vw;
  background-size: contain;
  transform: scale(3);
}

/* ----------------- Aside Component */
.plus{
  display: inline-block;
  transform: scale(1.5);
  margin-right: 1vw;
}

.app-aside{
  text-align: center;
  margin: 1vw;
  
}

.button-new-diagram{
  padding: 1vw;
  font-size: 2vw;
  background-color: #dbac98;
  border: 1px solid #dbac98;
  border-radius: 1vw;
  color: rgb(255,255,255);
  font-weight: 700;
  cursor: pointer;
  font-family: 'Freckle Face', cursive;
  letter-spacing: 0.2vw;
}

.button-new-diagram:hover{
  color: #dbac98;
  background-color: white
}


/* ----------------- Container Component */


/* -----------------  Main Component */
.app-main{
  border: 0.5px solid rgba(0, 0, 0, 0.26);
  position: relative;
  border-radius: 1vw;
  padding: 2.5vw 0;
  margin: 2vw 0
}

.main-nav-el{
  width: 100%;
  overflow: hidden;
}
.main-nav-el-text{
  display: inline-block;
  text-align: center;
  width: 30%;
  color: white;
  font-size: 2.5vw;
  padding: 1vw 0;
  background: #d6d8d9;
  border-bottom: 0.2vw solid white;
  font-family: 'Freckle Face', cursive;
}

.active-main-nav-el{
  background: #b3cde0;
  color: black;
  border-bottom: 0.4vw solid #b3cde0
}

.main-nav-el-text:first-child{
margin-right: 0.2vw
}

.main-nav-el-text:nth-child(2){
  margin: 0 0.2vw
}
.main-nav-el-text:nth-child(3){
  margin-left: 0.2vw
}

.btn-del-main{
  width: 1vw;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
  font-size: 1vw;
  color: black;
}
.btn-del-main:hover{
  background: red;
  color: black;
}


/* for eleement in Main */

.btn-next-main, .btn-back-main{
  background: #dbac98;
  font-weight: 700;
  padding: 1vw 1.5vw;
  font-size: 1.2vw;
  border: 1px solid #dbac98;
  border-radius: 10vw;
  /* display: block; */
  color: white;
  margin: 2vw 1vw 0 0
  /* margin: 4vw 0 */
}
.container-btn{
  width: 100%;
  text-align: right;
  position: relative;
}
.btn-back-main{
  position: absolute;
  left: 1vw
}

.next-button-icon{
  background: url("https://img.icons8.com/ios/50/000000/chevron-right.png");
  margin-left: 0.7vw;
}

.back-button-icon{
  background: url("https://img.icons8.com/ios/50/000000/chevron-left.png");
  margin-right: 0.7vw;
}

.next-button-icon, .back-button-icon{
  display: inline-block;
  width: 1vw;
  height: 1vw;
  background-size: contain;
  transform: scale(2);
}

.btn-next-main:hover, .btn-back-main:hover{
  color:#dbac98;
  background: rgb(255,255,255);
  cursor: pointer;
}
.btn-next-main:hover .next-button-icon {
  transform: scale(3);
}
.btn-back-main:hover .back-button-icon {
  transform: scale(3);
}


/* -----------------  SelectDiagram Component */
div.app-select-diagram{
  background: #b3cde0;
  text-align: center;
  margin: 0 auto;
  width: calc(90% + 0.8vw);
  padding: 5vw 0 2vw 0;
  position: relative;
}

.diagramFirst, .diagramSecond, .diagramThird{
  display: inline-block;
  margin: 0 2vw;
  /* width: 15% */
}
.imgDiagramFirst{
  background: url("https://img.icons8.com/ios/50/000000/doughnut-chart.png");
}

.imgDiagramSecond{
  background: url("https://img.icons8.com/ios/50/000000/bar-chart.png")
}
.imgDiagramThird{
  background: url("https://img.icons8.com/ios/50/000000/scatter-plot.png")
}
.imgDiagramFirst, .imgDiagramSecond, .imgDiagramThird{
  display: inline-block;
  width: 4vw;
  height: 4vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.3);
}

.nameDiagram{
  font-size: 2vw;
  color: transparent;
  margin-top: 1.5vw;
  display: inline-block
}
.diagramFirst:hover{
  cursor: pointer;
}
.diagramFirst:hover .nameDiagram{
  color: black;
  cursor: pointer;
}
.diagramSecond:hover, .diagramThird:hover{
  cursor: no-drop
}
.diagramSecond:hover .nameDiagram{
  color: black;
  cursor: no-drop
}
.diagramThird:hover .nameDiagram{
  color: black;
  cursor: no-drop
}


/* -----------------  SettingsDiagram Component */
.setting-view{
  text-align: center;
  margin: 0 auto;
  background-color: #b3cde0;
  padding: 5vw 0 2vw 0;
  width: calc(90% + 0.8vw);
}
.setting-view-element{
  width: 55%;
  text-align: right
}

label{
  font-size: 2vw;
  margin-bottom: 1vw;
  display: block;
  font-weight: 700
}
.nav-el-values label:first-child{
  margin: 0
}
input{
  font-size: 2vw;
  width: 4vw;
  height: 4vw;
  margin-left: 1vw;
  background: #FFF;
  

}

#title{
  width: 70%;
  font-size: 3vw;
  display: inline-block;
  background: #b3cde0;
  border: 1px solid #b3cde0;
  border-bottom: 0.2vw solid white;
  color: #000;
  text-align: center
}
#title:focus{
  border: 0.2vw solid #FFF
}
select{
  margin-top: 2vw
}

.select-diagram{
width: 5vw;
height: 5vw
}

/* -----------------  ElementCustonValue Component */
.app-nav-el-values{
  text-align: left;
  margin: 0 auto;
  background-color: #b3cde0;
  padding: 5vw 0 2vw 0;
  width: calc(90% + 0.8vw);

}
.nav-el-values{
  text-align: center;
}
.nav-el-values label {
  display: inline-block;
  margin-left: 3vw;
  
  
}
.app-nav-el-values input{
  background: #b3cde0;
  border: 1px solid #b3cde0;
  border-bottom: 0.2px solid white;
  color: #000
}
.nav-el-values label:first-child{
  width: 40%;
  text-align: center
}
input#titleColumn {
  width: 100%;
  margin: 0 auto;
  text-align: center;

}
.nav-el-values label:nth-child(2){
  width: 15%
}
input#titleNumber {
  width: 100%;
  margin: 0 auto;
  text-align: center

}
.nav-el-values label:nth-child(3){
  width: 13%
}
input#titleColor {
  width: 100%;
  width: 4vw;
  height: 4vw;
  margin: 0 auto;
  background: #FFF;
  border-bottom: 0
}

.btn-add-value{
  /* padding: 0.1vw 1vw; */
  font-size: 6vw;
  background: #b3cde0;
  border: 0.2vw solid #b3cde0;
  border-radius: 1vw;
  color: #FFF;
  cursor: pointer;
  margin:0 3vw 0 3vw;
  /* transform: scale(2) */
}
.btn-add-value:hover{
  color: #000;
}

.nav-el-chooise{
  text-align: center;
  margin: 2vw auto 0 auto;
  padding: 1vw;
  font-size: 1.5vw
}

.data-nav-el-values{
  display: block;
  margin: 1vw 2vw;
  padding: 1vw;
  position: relative;
}

.info-nav-el-values{
  padding: 1vw
}
.del-nav-el-values{
  position: absolute;
  top: 0;
  color: rgb(255,255,255);
  font-size: 0.7vw;
  background: rgb(0,0,0);
  border: 1px solid black;
  cursor: pointer;
}

.del-nav-el-values:hover{
  background: red;
  color: rgb(0,0,0);
  border: 1px solid red;
}



/* -----------------  PrintDiagram Component */
.app-print{
  position: relative;
  margin: 3vw 0 0 0 
}
.button-del-diagram{
  padding: 0.7vw;
  font-size: 1.2vw;
  background-color: rgb(0,0,0);
  border: 1px solid rgb(0,0,0);
  border-radius: 10vw;
  color: rgb(255,255,255);
  cursor: pointer;
  position: absolute;
  right: 0px;
  bottom: 0px
}
.button-del-diagram:hover {
  color: rgb(0,0,0);
  background-color: rgb(255,255,255)
}



/* -----------------  Footer Component */
footer{
  font-size: 0.6vw
}

table {
  border-spacing: 0mm 0.5vw;
  margin: 1vw;
}

td{
  width: 3vw;
  height: 3vw;
  text-align: center;
}



/* // cellSpacing="1" */
/* .container-btn:before, .container-btn:after { 
  content: ""; 
  display: table; 
  clear: both; 
} */